:root {
	/*COLORS*/
	--color-white: oklch(0.9752 0.0034 264.54);
	--color-offblack: oklch(0.1669 0.0032 286.05);
	--color-blue-100: oklch(0.9346 0.0159 248);
	--color-blue-300: oklch(0.7755 0.0552 243.19);
	--color-blue-500: oklch(0.589 0.0989 245.29);
	--color-blue-600: oklch(0.5095 0.0839 245.19);
	--color-blue-700: oklch(0.4331 0.0709 246.72);
	--color-blue-900: oklch(0.2362 0.0311 244.33);
	--color-gray-50: oklch(0.9683 0.0044 247.87);
	--color-gray-100: oklch(0.9043 0.0133 247.97);
	--color-gray-200: oklch(0.816 0.021 248.09);
	--color-gray-300: oklch(0.7268 0.0223 248.14);
	--color-gray-400: oklch(0.6344 0.0262 248.24);
	--color-gray-500: oklch(0.5932 0.0197 248.16);
	--color-gray-600: oklch(0.5496 0.0204 248.2);
	--color-gray-700: oklch(0.5052 0.0205 248.23);
	--color-gray-800: oklch(0.3657 0.0208 248.4);
	--color-gray-900: oklch(0.317 0.0173 248.37);
	--color-gray-1000: oklch(0.2128 0.0121 248.39);
	--color-yellow: oklch(0.8902 0.1832 96.08);
	--urgent: oklch(0.5829 0.1645 23.73);
	--urgent-hover: oklch(0.885 0.0372 17.88);
	--mask: oklch(0.1669 0.0032 286.05 / 0.8);
	--ltmask: oklch(0.1669 0.0032 286.05 / 0.4);

	--field-odd: oklch(0.6296 0.1925 142.86);
	--field-even: oklch(0.5713 0.1735 142.88);
	--field: oklch(0.5594 0.1696 142.89);

	/*FONTS*/
	--font-size: 1.3rem;
	--12px: 0.75rem;
	--14px: 0.875rem;
	--15px: 0.9375rem;
	--16px: 1rem;
	--17px: 1.0625rem;
	--18px: 1.125rem;
	--19px: 1.1875rem;
	--20px: 1.25rem;
	--21px: 1.3125rem;
	--24px: 1.5rem;
	font-family:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;

	/*LAYOUT*/
	--border-radius: 5px;
	--side: 1rem;
	--column: 55rem;
	--shadow-elevation-medium:
		0.3px 0.5px 0.7px oklch(var(--shadow-color) / 0.36),
		0.8px 1.6px 2px -0.8px oklch(var(--shadow-color) / 0.36),
		2.1px 4.1px 5.2px -1.7px oklch(var(--shadow-color) / 0.36),
		5px 10px 12.6px -2.5px oklch(var(--shadow-color) / 0.36);
}

[data-theme="light"] {
	--color-white: oklch(0.1669 0.0032 286.05);
	--color-offblack: oklch(0.9752 0.0034 264.54);
	--color-gray-50: oklch(0.2128 0.0121 248.39);
	--color-gray-100: oklch(0.317 0.0173 248.37);
	--color-gray-200: oklch(0.3657 0.0208 248.4);
	--color-gray-300: oklch(0.5052 0.0205 248.23);
	--color-gray-400: oklch(0.5496 0.0204 248.2);
	--color-gray-500: oklch(0.5932 0.0197 248.16);
	--color-gray-600: oklch(0.6344 0.0262 248.24);
	--color-gray-700: oklch(0.7268 0.0223 248.14);
	--color-gray-800: oklch(0.816 0.021 248.09);
	--color-gray-900: oklch(0.9043 0.0133 247.97);
	--color-gray-1000: oklch(0.9683 0.0044 247.87);
	--mask: oklch(0.9752 0.0034 264.54 / 0.8);
	--ltmask: oklch(0.9752 0.0034 264.54 / 0.4);
}

[data-theme="light"] html,
html[data-theme="light"] {
	background: radial-gradient(circle at 50% 0%, oklch(0.95 0 0) 0%, oklch(0.88 0 0) 100%);
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	position: relative;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	background: radial-gradient(circle at 50% 0%, oklch(0.193 0 0) 0%, oklch(0.1157 0 0) 100%);
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: 100dvh;
	-webkit-font-smoothing: antialiased;
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	text-align: left;
	font: inherit;
	color: inherit;
	transition: all 0.2s ease-in-out;
}

button:not(:disabled):active {
	transform: translateY(1px);
}

button:disabled {
	background-color: var(--color-gray-700);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: inherit;
	color: var(--color-white);
	margin: 0 0 0.5em 0;
	line-height: 1.1;
}

h1 {
	font-size: 1.75rem;
}

input,
button,
textarea,
select {
	font: inherit;
	font-family: inherit;
	font-size: inherit;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root {
	isolation: isolate;
}

.column {
	padding-left: var(--side);
	padding-right: var(--side);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--column);
}

.flex {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 1rem;
}

.game-button {
	background-color: var(--color-blue-300);
	border: 1px solid var(--color-blue-500);
	border-radius: var(--border-radius);
	padding: 0.5em;
	text-align: center;

	&:disabled,
	&:disabled:hover {
		background-color: var(--color-gray-700);
		border: 1px solid var(--color-gray-700);
		cursor: default;
	}
	&:hover {
		background-color: var(--color-blue-100);
		border: 1px solid var(--color-blue-500);
	}
}

@media (min-width: 40rem) {
	:root {
		--side: 4rem;
	}
}

@media (min-width: 30rem) {
	body {
		font-size: 16px;
	}
}
