:root {
	/*COLORS*/
	--black: hsl(257 27% 10%);
	--error: hsl(348 83% 47%);
	--field: hsl(120 61% 34%);
	--gray: hsl(0 0% 41%);
	--ivory: hsl(0 0% 91%);
	--ltblue: hsl(195 53% 79%);
	--pip: hsl(0 0% 20%);
	--smoke: hsl(0 0% 18%);
	--smokeDk: hsl(0 0% 13%);
	--steelblue: hsl(207 44% 49%);
	--white: hsl(220 23% 97%);
	--yellow: hsl(51 100% 50%);
	--button-hover: hsl(197 100% 83%);
	--mask: hsl(0 0% 0% / 0.8);
	--ltmask: hsl(0 0% 0% / 0.4);
	color: hsl(0 0% 91%);

	/*FONTS*/
	--font-size: 1.3rem;
	--14px: 0.875rem;
	--15px: 0.9375rem;
	--16px: 1rem;
	--17px: 1.0625rem;
	--18px: 1.125rem;
	--19px: 1.1875rem;
	--20px: 1.25rem;
	--21px: 1.3125rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	/*LAYOUT*/
	--border-radius: 5px;
	--side: 1rem;
	--column: 55rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	position: relative;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	background: radial-gradient(circle at 50% 0%, hsl(0, 0%, 8%) 0%, hsl(0, 0%, 2%) 100%);
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: 100dvh;
	-webkit-font-smoothing: antialiased;
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font-family: inherit;
	font-size: inherit;
	color: var(--black);
	border: none;
	border-radius: var(--border-radius);
	margin: 0 0 0.5em 0;
	padding: 0.5em 1em;
	line-height: 1;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button:not(:disabled):active {
	transform: translateY(1px);
}

button:disabled {
	background-color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: inherit;
	color: var(--ivory);
	margin: 0 0 0.5em 0;
	line-height: 1.1;
}

h1 {
	font-size: 1.75rem;
}

input,
button,
textarea,
select {
	font: inherit;
	font-family: inherit;
	font-size: inherit;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root {
	isolation: isolate;
}

.column {
	padding-left: var(--side);
	padding-right: var(--side);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--column);
}

.flex {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 1rem;
}

@media (min-width: 40rem) {
	:root {
		--side: 4rem;
	}
}

@media (min-width: 30rem) {
	body {
		font-size: 16px;
	}
}
